<div class="toolbar" role="banner">
  <img src="assets/images/logo.png" alt="">
  <h1>A simple date time picker demo</h1>
</div>

<div class="content" role="main">


  <p> {{formGroup.value | json}} </p>

  <form class="card-container" [formGroup]="formGroup">
    <a class="card">
      <ngx-datetimePicker formControlName="date1" [options]="options" [LocalTimeZone]="localTimeZone">
      </ngx-datetimePicker>
    </a>
    <a class="card">
      <ngx-datetimePicker formControlName="date2" [options]="options2" [LocalTimeZone]="localTimeZone">
      </ngx-datetimePicker>
    </a>
  </form>

  <h2>Change the date picker language</h2>
  <div class="action">
    <button (click)="toFr()">Français</button>
    <button (click)="toEn()">English</button>
  </div>
</div>