.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #b9cef3;
    font-weight: 600;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
        height: 100%;
    }
    h1 {
        width: 100%;
        margin: 0;
    }
    &::after {
        content: attr(data-version);
        position: absolute;
        min-width: 40px;
        bottom: -15px;
        left: 15px;
        font-size: 10px;
        color: #444;
    }
}

.content {
    display: flex;
    margin: 120px auto 0;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;

        .card {
            height: 40px;
            margin: 1rem;
            padding: 16px;
            transition: all 0.2s ease-in-out;
            line-height: 24px;
            width: 250px;
        }
    }

    .action {
        display: flex;
        align-items: center;
        button {
            height: 40px;
            border-radius: 6px;
            padding: 0.5rem 1rem;
            border-width: 1px;
            cursor: pointer;
            &:first-child {
                margin-right: 1rem;
            }
        }
    }
}
