<div class="toolbar" role="banner" attr.data-version="{{version}}">
  <img src="assets/images/logo.png" alt="">
  <h1>A reactive date time picker demo</h1>
</div>

<div class="content" role="main">


  <p> {{formGroup.value | json}} </p>

  <form class="card-container" [formGroup]="formGroup">
    <a class="card" *ngIf='show'>
      <ngx-datetimePicker formControlName="date1" [options]="options1" [optionUpdate]="optionUpdate1"
        [minDate]="formGroup?.controls?.date2?.value">
      </ngx-datetimePicker>
    </a>
    <a class="card" *ngIf='show'>
      <ngx-datetimePicker formControlName="date2" [options]="options2" [optionUpdate]="optionUpdate2" [minDate]="today">
      </ngx-datetimePicker>
    </a>
  </form>

  <h2>Update options (format, language ...)</h2>
  <div class="action">
    <button (click)="show=!show">toggle</button>
    <button (click)="toFrench()">Français</button>
    <button (click)="toEnglish()">English</button>
    <button (click)="toggleDisable()">{{isDisabled?"enable":"disable"}}</button>
  </div>
</div>