/* You can add global styles to this file, and also import other style files */
:root {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
}
p {
    margin: 0;
}
